list ..... [] ... we want to store different data  types
in it...and different size of data....

list = bucket.....you can add more data..inside it..

tuple .... ().....


list... append..delete, insert...iterable.., extract any item...

insert any kind of data type...string, num, float, tuple, dictionary..
data analysis...list. alot..


tuple..x,x,x,iterable,,extracting...element is possible ... [] operator..

In [16]:
# tuple....

abc = 1,2,3,4,'pooja'
abc
type(abc);abc
tuple(abc)

(1, 2, 3, 4, 'pooja')

In [15]:
aa = (1,2,3,4,5,6,7,489,'tomato','mango')
aa

(1, 2, 3, 4, 5, 6, 7, 489, 'tomato', 'mango')

In [35]:
cba = ['a',3,'red','elephant',23,45,65,67,7,645,3,345,6]
cba
# type(cba)
# tuple(cba)
# list(abc)

['a', 3, 'red', 'elephant', 23, 45, 65, 67, 7, 645, 3, 345, 6]

In [40]:
# operations... with a list...

# extraction of items...
# cba[-1][-1]

# slicing operator...

# cba[0:-1:2]

myself = ['nasir','delhi','myself',21345,'kashmir']
myself

['nasir', 'delhi', 'myself', 21345, 'kashmir']

In [45]:
myself[0:5:4]


# learn append operation
# insert operation
# pop operation
#

['nasir', 'kashmir']