In [2]:
#1. x = [1,2,3,4],Multiply this list with 2
x = [1,2,3,4]*2
print(x)

[1, 2, 3, 4, 1, 2, 3, 4]

In [3]:
# 2. y = [5,6,7,8,4],add above x in y
y = [5,6,7,8,4]
x.append(y)
print(x)

[1, 2, 3, 4, 1, 2, 3, 4, [5, 6, 7, 8, 4]]

In [4]:
#3. remove all the elements from your list myself 
myself = ['i love nature']
myself.clear()
print(myself)

[]

In [5]:
#4.return the length of the list below
z = [1,2,3,4,5,54,3,2,1,4,64,3]
print(len(z))

12

In [6]:
#5.sort the z list above into descending order
z.sort(reverse = True)
print(z)

[64, 54, 5, 4, 4, 3, 3, 3, 2, 2, 1, 1]

In [7]:
#6. insert a value as 123345 in the list  below at a specific indes 5.
z = [1,2,3,4,5,54,3,2,1,4,64,3]
#insert(6,123345)
print(z)

[1, 2, 3, 4, 5, 54, 3, 2, 1, 4, 64, 3]

In [12]:
#7.get te first  element out of the above list into a list only 
z = [[1,2,3],[4,5,54],[3,2,1],[4,64,3]]
#slicing operator
z[0]

[1, 2, 3]

In [13]:
#8. remove duplicates in the above list 
z = [1,2,3,4,5,54,3,2,1,4,64,3]
def remove_duplicates(duplist):
    noduplist = []
    for element in duplist:
        if element not in  noduplist:
            noduplist.append(element)
    return noduplist 

print(remove_duplicates(z))
print(z)

[1, 2, 3, 4, 5, 54, 64]
[1, 2, 3, 4, 5, 54, 3, 2, 1, 4, 64, 3]

In [14]:
#9.find the intersection between two list below 
x = [1,2,3,4]
y = [5,6,7,8,4]
set(x).intersection(y)

{4}

In [15]:
#8. remove duplicates in the above list 
z = [1,2,3,4,5,54,3,2,1,4,64,3]
print(tuple(z))
z = list(dict.fromkeys(z))
print(z)

(1, 2, 3, 4, 5, 54, 3, 2, 1, 4, 64, 3)
[1, 2, 3, 4, 5, 54, 64]

In [16]:
#10.return every 3rd elements in the below list between values
z = [1,2,3,4,5,54,3,2,1,4,64,3]
print(z[0:11:3])

[1, 4, 3, 4]

In [17]:
#11.use built in round function to get fixed number of decimal places 
#1.23742    ------- make it 1.24
#-1.243225   ------ make it -1.243
#1627731    ------- make it 1628000
print(round(1.23742,2))
print(round(-1.243225,3))
print(round(1627731,3))

1.24
-1.243
1627731

In [18]:
#11a.use built -in format function to round with formatting value.
#x = 1.234567 ------ into 1.23
#y = 2.234567 ------ into 2.12345
x = 1.234567
y = 2.1234567
print(format(x,'-2f'))
print(format(y,"-5f"))

1.234567
2.123457

In [19]:
#11 b. working with binary ,actul and hexadecimal in python
# to convert an integer into a binary ,actal, or  hexadecimal text string ,use the bin(),oct()or hex() function ,respectively

#convert below  values into binary values ,actual values, and  hexadecimal values:
#x = 1234    y = 15    z  = 100
x = 1234
bin_z= print(x)
print(bin(x))
oct_z=print(x)
print(oct(x))
hex_z=print(x)
print(hex(x))

1234
0b10011010010
1234
0o2322
1234
0x4d2

In [1]:
#'4d2' with base 16 (hexadecimal)
# '10011010010' with base 2(binary)
x = 0x4d2
int(x)

1234

In [2]:
x = 0b10011010010
int(x)

1234